<div class="card p-2" *ngIf="movie">
  <img
    src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
    *ngIf="movie.poster_path"
  />
  <img src="assets/img/abstract-image.jpg" *ngIf="!movie.poster_path" />
  <div class="caption pt-3">
    <h4 class="text-ellipsis">
      <a
        class="title"
        routerLink="/movie/{{ movie.id }}"
        title="{{ movie.title }}"
        >{{ movie.title }}</a
      >
    </h4>
    <div class="release-date">
      <b>Release Date: </b>{{ movie.release_date }}
    </div>

    <div class="production-countries">
      <div class="production-countries-title">Production Countries:</div>
    </div>

    <div>
      <a class="view" routerLink="/movie/{{ movie.id }}"
        >View details &raquo;</a
      >
      <div class="float-right">
        <small
          class="badge badge-pill badge-info"
          *ngIf="movie.sinceHowManyDays"
          tooltip="Since How many Days?"
        >
          {{ movie.sinceHowManyDays }}
          <i class="fa fa-calendar-check-o fa-1x"></i>
        </small>
        <small
          class="badge badge-pill badge-warning"
          *ngIf="movie.vote_average"
          tooltip="IMDB Rate"
        >
          {{ movie.vote_average }}
          <i class="fa fa-star fa-1x"></i>
        </small>
      </div>
    </div>
  </div>
</div>
