<div class="container">
  <mat-card>
    <mat-card-title>Welcome in GTasks App</mat-card-title>
    <div class="card-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, dolorem
      suscipit necessitatibus placeat expedita ullam quisquam inventore, earum
      corrupti nobis nam repellat voluptate sit illum, quasi temporibus
      voluptatum omnis exercitationem! Fuga laboriosam sapiente blanditiis rem,
      eaque voluptates laborum accusamus corporis quam, ducimus id repellat
      earum vitae unde amet animi voluptate? Laborum, fugit perferendis. Non,
      sed! Nobis minima debitis eligendi? Quae! Voluptate at culpa ipsum maiores
      suscipit iusto, impedit maxime velit doloribus delectus cupiditate quae
      iure corporis pariatur. Deleniti, sapiente autem. Quidem nemo quia eum
      distinctio cumque repellat quas totam aliquid? Accusamus repellendus fuga
      quod itaque ab nobis repudiandae id inventore, minima quisquam voluptate
      vitae ut sint libero non debitis blanditiis fugit eligendi officia
      praesentium, alias expedita. Ratione officiis in laudantium?
      Exercitationem vero in hic ad soluta perferendis quia minima quidem.
      Necessitatibus culpa quasi animi iure eum reprehenderit tempora voluptate
      accusantium pariatur quas, laudantium doloribus rerum voluptates officia
      facilis illum nostrum.
    </div>
  </mat-card>
</div>
