
.header_area .d-flex-header .navbar-toggler #nav, 
.header_area .d-flex-header .navbar-toggler #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header_area .d-flex-header .navbar-toggler #nav li {
	float: right;
}  

.header_area .d-flex-header .navbar-toggler #nav li:hover ul {
    left: auto;
    right:0;
    background-color: white;
    padding-top: 1.875em;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .header_area .d-flex-header .navbar-toggler #nav li:hover ul {
        padding-top: 2.500em;
    }
}
 
.header_area .d-flex-header .navbar-toggler #nav li:hover ul li {
    padding-bottom: 1.875em;
}

.header_area .d-flex-header .navbar-toggler #nav li ul li a {
    font: normal bold 16px var(--font);
    color: var(--title-color);
    text-decoration: none;
}

.header_area .d-flex-header .navbar-toggler #nav li ul li a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.header_area .d-flex-header .navbar-toggler #nav li ul {
    position: absolute;
    left: -999em;
}

.header_area .d-flex-heade .navbar-toggler #nav li:hover ul, 
.header_area .d-flex-heade .navbar-toggler #nav li.sfhover ul {
    left: auto;
    right: 0;
    text-align: right;
}

/* Responsive Desgin for the submenu  */
/* Phones as Default */
.header_area .navbar-toggler #nav li:hover ul, #nav li.sfhover ul {
    padding-right: .938em;
    margin-right: .938em;
}
.header_area .navbar-toggler #nav li ul {
    width: 13.438em; 
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .header_area .navbar-toggler #nav li:hover ul, #nav li.sfhover ul {
        padding-right: 1.875em;
        margin-right: 3.563em;
    }
    .header_area .navbar-toggler #nav li ul {
        width: 15em;
    }
}

/* Desktop Navbar */
.header_area .d-flex-header .navbar-desktop {
    display: none; 
}

.header_area .d-flex-header .navbar-desktop ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    
    margin: 0;
    list-style-type: none;
    overflow: hidden;
  }
  
  .header_area .d-flex-header .navbar-desktop ul li {
    padding-left: 1.875em; 
  }
  
   .header_area .d-flex-header .navbar-desktop ul li a {
    text-decoration: none;
    font: normal bold 16px var(--font);
    color: var(--title-color);
    }
  
  .header_area .d-flex-header .navbar-desktop ul li a:hover:not(.active) {
    color: var(--primary-color);
  }
  
  .header_area .d-flex-header .navbar-desktop ul li a.active {
    color: var(--primary-color);
  }

  /* Desktop Navbar Submenu */

  .header_area .d-flex-header .navbar-desktop #nav li ul {

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1 1 auto;

      padding: 0;      
      margin: 0;
      list-style-type: none;
      overflow: hidden;
      width: 11.250em;
  }
  
  .header_area .d-flex-header .navbar-desktop #nav li {
    float: right;
  }  
  .header_area .d-flex-header .navbar-desktop #nav li ul li{
    padding-left: 0;
    padding-right: 0;
    /* padding-left: 0.625em;
    padding-right: 0.625em; */
    padding-bottom: 0.625em !important;
  }

  .header_area .d-flex-header .navbar-desktop #nav li:hover ul {
      left: initial;
      background-color: white;
      padding-top: 1.563em;
      width: 11.250em;
      position: absolute;
      right:auto;
      left: auto;
  }

  .header_area .d-flex-header .navbar-desktop #nav li:hover ul li {
    padding-bottom: 1.875em;
}

.header_area .d-flex-header .navbar-desktop #nav li ul li a {
    font: normal 500 12px var(--font);
    color: var(--title-color);
    text-decoration: none;
}

.header_area .d-flex-header .navbar-desktop #nav li ul li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.header_area .d-flex-header .navbar-desktop #nav li ul {
    position: absolute;
    left: -999em;
}

.header_area .d-flex-heade .navbar-toggler #nav li:hover ul, 
.header_area .d-flex-heade .navbar-toggler #nav li.sfhover ul {
    left: auto;
    right: 0;
    text-align: right;
}