/* import global styling */
@import url(./partials/_global.css);
/* Header area */
.d-flex-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 1.875em;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .d-flex-header {
      padding-bottom: 3.125em;
      padding-right: 5.625em;
      padding-left: 5.625em;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .header_area .d-flex-header .navbar-toggler {
      display: none;
  }
  .header_area .d-flex-header .navbar-desktop {
      display: flex;
      margin-top: auto;
  }
}
/* End header area */

/* Site main area */
/* Mobile */
.site-main .d-flex-site-main {  
  display: flex;  
  flex-direction: column;  
  min-height: 100%;
  flex: 1 ;  
  justify-content: space-between;
  padding-top: 1.875em; 
  margin: 1.875em;
  margin-top: 0;
  margin-bottom: 0; /* footer */
  padding-bottom: 1.875em; /* footer */
  align-items: center;
  background-color: #eeeeee;  
}

.site-main .d-flex-site-main .main-block  {
  display: flex;
  flex-direction: column;
  flex: 1;  

  padding-top: .938em;
  padding: .938em;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Article area */
.site-main .d-flex-site-main .main-block article {
  width: 100%;
  order: 1;
}

.site-main .d-flex-site-main .main-block aside {
  display: flex;
  flex: 1 1 100%;
  border: 1px solid var(--border-color);
  width: 100%;
  order: 2;
}
.site-main .d-flex-site-main article .article-header{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.875em;
  border-bottom: 4px solid var(--border-color);
  margin-bottom: 1em;
}
.site-main .d-flex-site-main article .article-header .article-nav{
  display: inline-flex;
  width: 2.938em;
  height: 13px;
  justify-content: space-between;
}
.site-main .d-flex-site-main article .article-header .article-nav .left-arrow {
  background : url('../img/left-arrow.png') no-repeat ; 
  background-size: 100% 100%; 
  height: 13px;
  width: 6px;
}
.site-main .d-flex-site-main article .article-header .article-nav .right-arrow {
  background : url('../img/right-arrow.png') no-repeat ; 
  background-size: 100% 100%; 
  height: 13px;
  width: 6px;
}

.site-main .d-flex-site-main article .article-header .article-title{
  font-weight:bold;
  font-family:  var(--font);
  font-size: 18px;
  color: var(--primary-color);
}

.site-main .d-flex-site-main article .article-main {
  margin-bottom: 20px; 
}

.site-main .d-flex-site-main article .article-main .para{
  font-weight:normal;
  font-family:  var(--font);
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
  margin:0;
}

.site-main .d-flex-site-main article .article-main .article-img{
  width: 100%; 
  height: 8.875em;
  background:url('../img/dummy-image.png') no-repeat left;
  margin: 0.938em 0;
}

.site-main .d-flex-site-main article .article-main .article-subtitle{
  font-weight:bold;
  font-family:  var(--font);
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 1.250em;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .site-main .d-flex-site-main article .article-main {
    margin-bottom: 30px; 
  }
  .site-main .d-flex-site-main .main-block  {
    padding: 2.500em;
  }
  .site-main .d-flex-site-main {
    margin-right:5.625em ; /* Dont forget add +60px to footer */  
    margin-left: 5.625em ;   
    margin-top: 0 ;   
    margin-bottom: 0 ; /* footer */
    padding-top: 2.500em;
  }
  .site-main .d-flex-site-main article .article-header{
    margin-bottom: 1.875em;
  }

  .site-main .d-flex-site-main article .article-main .article-img{
    margin: 1.875em 0;
  }

  .site-main .d-flex-site-main article .article-main .article-subtitle{
    margin-bottom: 0.938em;
  }

  .site-main .d-flex-site-main article .article-main .para{
    line-height: 2.25em;
  }

  .site-main .d-flex-site-main article .article-main .para{
    line-height: 1.5em;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  
.site-main .d-flex-site-main .main-block aside {
  height: 50%;
}

.site-main .d-flex-site-main article .article-main {
  margin-bottom: 0px; 
}

.site-main .d-flex-site-main article .article-nav .left-arrow {display: none;}
.site-main .d-flex-site-main article .article-nav .right-arrow {display: none;}
  .site-main .d-flex-site-main .left-arrow {  
    background : url('../img/left-arrow.png') no-repeat ; 
    background-size: 100% 100%; 
    height: 43px;
    width: 21px;
  }
  .site-main .d-flex-site-main .right-arrow { 
    background : url('../img/right-arrow.png') no-repeat ; 
    background-size: 100% 100%; 
    height: 43px;
    width: 21px;
  }
  .site-main .d-flex-site-main {
    margin-right:2.188em ;
    margin-left: 2.188em ;   
    padding-top: 2.500em;   
    margin-bottom: 0 ;/* footer */
    flex: 1 1 auto;
    flex-direction: row;  
    flex-wrap: nowrap;
    height: 100%;
  }
  .site-main .d-flex-site-main .main-block  {
    display: flex;
    margin-right: 2.813em;
    margin-left: 2.813em;
    /* padding: 2.500em; */
    flex: 1 1 auto;
    flex-direction: row;  
    flex-wrap: nowrap;
    height: 100%;
  }
  
  .site-main .d-flex-site-main .main-block article {
    flex: 1 auto; 
    margin-right: 5em;
  }
  
  .site-main .d-flex-site-main .main-block aside {
    flex: 2 30%;
  }

  .site-main .d-flex-site-main article .article-main .para{
    line-height: 2.25em;
  }
}
/* End Article area */
/* Aside area */
/* Mobile */
.site-main .d-flex-site-main .main-block aside {
 display: flex;
 flex: 1;
 flex-direction: column;
 flex-wrap: nowrap;
}
.site-main .d-flex-site-main .main-block aside .aside-header {
  background: url('../img/box.png') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 229px;
  height: 73px;
  margin-top: 0;
  font-weight:bold;
  font-family:  var(--font);
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  padding-left: 1.250em;
  padding-top: 1.250em;
}

.site-main .d-flex-site-main .main-block aside .aside-img {
  background: url('../img/image.png') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 6px auto 20px auto;
}

.site-main .d-flex-site-main .main-block aside .aside-content {
  font-weight:normal;
  font-family:  var(--font);
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .site-main .d-flex-site-main .main-block aside .aside-conten {
    padding-bottom: 30px;
  }

  .site-main .d-flex-site-main .main-block aside .aside-img {
    margin: 15px auto 30px auto;
  }

  .site-main .d-flex-site-main .main-block aside .aside-header {
    background: url('../img/box-tablet.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 0;
    width: 506px;
    height: 73px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .site-main .d-flex-site-main .main-block aside .aside-conten {
    padding-bottom: 20px;
  }

  .site-main .d-flex-site-main .main-block aside .aside-header {
    margin-top: 0;
    width: 245px;
    height: 73px;
  }
}
/* End Aside area */

/* End site main area */

/* Footer area */
.footer-area {
  border-top: 1px solid var(--border-footer-color);
  font-weight: normal;
  font-family: var(--font);
  font-size: 12px;

  color: var(--border-footer-color);

  height: 45px;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 15px;
  background-color: #eeeeee;
}

@media only screen and (min-width: 768px) {
  .footer-area {
    padding-left: 88px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-area {
    padding-left: 90px;
  }
}
/* End Footer area */
