.example-spacer {
  flex: 1 1 auto;
}

.app-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo {
    align-self: center;
    padding-right: 1rem;
    width: 33px;
    height: 33px;

  &__title{
    align-self: center;
    padding-right: 1rem;
  }
  }

}

.menu {
   display: flex;
   &__item {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    &-icon {
      padding-top: 3px;
      transform: scale(1.5);
      padding-left: 1rem;
    }
    &:hover {
      text-decoration: none;
      color: yellow;
      cursor: pointer;
    }
   }
 }
