<div class="app-page">
  <div class="app-page__header">
    <h1>Home</h1>
  </div>

  <div class="app-page__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque repellendus
    minus provident quae sit natus est, consectetur suscipit beatae ipsa nam!
    Alias repellat accusantium itaque esse eum illum. Nostrum, ex! Dolorem
    minima dignissimos corporis quis eos exercitationem impedit perferendis
    labore ut nostrum! Quos assumenda asperiores voluptates eius neque tempora
    magni aspernatur impedit minima. Magnam recusandae dolorem nesciunt facere
    iusto voluptatem! Labore odio velit hic doloremque ducimus corrupti adipisci
    perferendis quos dicta incidunt at consequuntur mollitia aliquid, nemo
    excepturi! Laborum soluta ipsa consectetur laudantium similique delectus
    laboriosam suscipit, iure odit pariatur. Aliquam doloribus neque repellendus
    possimus velit assumenda beatae reiciendis, sit repudiandae voluptates
    doloremque aspernatur laborum blanditiis aperiam id eveniet ad cum aliquid
    officia fugiat quam. Ullam vitae corporis cum voluptatem? Quod recusandae,
    amet quibusdam maxime laudantium consequatur hic atque magnam animi, ea enim
    cumque nobis ipsa adipisci velit in? Ipsam ea aliquid repellat impedit
    distinctio quo autem error quasi in? Impedit, nisi non. Nobis incidunt
    blanditiis aut adipisci ducimus saepe temporibus vel repellendus ex, fuga
    deleniti facilis at voluptate voluptatum assumenda, totam ut animi. Alias
    culpa voluptate necessitatibus velit fugit? Laboriosam perspiciatis
    incidunt, fugiat laudantium saepe debitis asperiores provident eum non
    cumque obcaecati ipsum nisi natus expedita, officia sint porro dolore
    laborum! Quasi ratione doloribus ea rerum nam quos saepe! Tenetur illo
    architecto repellat id perferendis officia alias harum inventore nulla
    similique dolorum corrupti laboriosam, fuga libero voluptatem magnam
    dignissimos dicta. Nam, dolore! Velit sint esse quibusdam, optio iure a.
    Vero, enim et rerum officiis iusto provident soluta nisi earum adipisci hic
    quod, eos debitis? Autem ullam iusto repellendus doloremque quae,
    necessitatibus cum, laborum sunt ad et voluptate facilis! Molestias.
    Reprehenderit autem eius sunt ratione officiis, voluptatibus nobis totam.
    Maiores adipisci voluptate cum placeat officiis quidem iste ipsum, magni
    dolore delectus ipsam, unde impedit quam quaerat rem possimus ratione
    dignissimos.
  </div>
</div>
