// @import "styles/mixins";

$base: #fafafa;


.task {
    padding: 32px;
    background: $base;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}