
mat-toolbar {
  padding-right: 2rem;
  padding-left: 2rem;
}

mat-toolbar button {
  margin-left: 1rem;
  font-size: 1rem;
}

mat-toolbar span {
  margin: auto;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: crimson;
  font-size: 1.5rem;
}

.auth {
  margin-left: 0;
  padding-right: 0;
}

