<div class="d-flex justify-content-center align-items-center" id="main">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align: center">
    <h1 style="color: #e50914">Welcome in {{ title }}</h1>
    <!-- <span style="display: block">{{ title }} app is running!</span> -->
    <img
      width="300"
      alt="Netflix Logo"
      src="../../../assets/logo.png"
      class="mt-4"
      alt="Logo"
    />
    <h2>
      India flag icon ->
      <span class="flag-icon flag-icon-in flag-icon-squared"></span>
      <br />
      France flag icon ->
      <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
      <br />
      Australia flag icon ->
      <span class="flag-icon flag-icon-au flag-icon-squared"></span>
      <br />
      United Kingdom flag icon ->
      <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
    </h2>
  </div>
</div>
