<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab praesentium
obcaecati similique vitae ea ipsa commodi. Consectetur voluptatibus non libero
alias fuga repellat nihil, praesentium ea optio sunt debitis unde?

<h3>Links</h3>

<a href="" class="app-a">Link 1</a> <a href="" class="app-a">Link 2</a>
<a href="" class="app-a">Link 3</a>

<h1>Button</h1>

<button class="app-button">Button</button>

<h3>Code</h3>

<input type="text" name="" id="" class="app-input" />

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
