<div class="container m-5">
  <a routerLink="/employee/add/0" class="btn btn-primary mb-3">
    Add New Employee
  </a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Job</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{ employee.id }}</th>
        <td>
          <a [routerLink]="['/employee-details', employee.id]">{{
            employee.firstName
          }}</a>
        </td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.job }}</td>
        <td>
          <a [routerLink]="['/employee/edit', employee.id]">Edit</a>
          |
          <!-- <a >Remove</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
