<h2>Actions</h2>

<!-- <h2>Form</h2> -->

<!-- <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()"> -->
<!-- <ui-button (click)="onPatchValue()">Patch Value</ui-button> -->
<!-- <ui-button (click)="onToggleInLine()">Toggle Inline</ui-button> -->
<!-- <lib-ui-custom-elements></lib-ui-custom-elements> -->
<!-- <lib-gui></lib-gui> -->

<br /><br /><br />

<!-- <ui-form-field
    label="Input"
    [required]="true"
    [control]="form.controls.input"
    [isInline]="isInLine"
    [patternError]="regexErrors.email"
  >
    <ui-input formControlName="input"></ui-input>
  </ui-form-field> -->
<!-- </form> -->

<!-- <code>
  {{ form.value | json }}
</code> -->
