.nav-bar-spacer {
  flex: 1 1 auto;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: x-large;
}
.logo_icon {
  font-size: x-large;
}

.mat-icon-button-toggle-focus-overlay {
  display: none;
  }

  .userNameStyle {
    color: dimgrey
  }

