
/* Global classes */

* {
    box-sizing: border-box;
  }
  
.title-text{
    font: normal bold 50px/72px var(--roboto);
}

.title-h2{
    font: normal bold 21px/40px var(--font);
    color: var(--text-color);
}

.text-uppercase{
    text-transform: uppercase;
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--font);
}

.font-website{
    font-family: var(--font);
}

#overlay {
    position: fixed;
    display: none;
    height: 88%;
    top: 12%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #overlay {
        height: 83.5%;
        top: 16.5%;
    }
}